<div class="bottom-footer edm-clearfix bg-blue-900">
    <div class="edm-container">
        <div class="site-info text-center">
            Copyright © 2019 www.uets.edu.ec. Todos los derechos reservados. Tema: Education Master Pro.
        </div>
        <nav id="footer-navigation" class="footer-navigation" role="navigation">
            <div id="footer-menu" class="menu">
                <ul class="flex flex-wrap">
                    <li class="page-item page-item-187"><a href="https://uets.edu.ec/adetitss/">ADETITSS</a></li>
                    <li class="page-item page-item-1107"><a href="https://uets.edu.ec/tutorias-y-atencion-a-ppff-yanuncay/">Atención a PPFF – Yanuncay</a></li>
                    <li class="page-item page-item-30"><a href="https://uets.edu.ec/directivos/">Autoridades</a></li>
                    <li class="page-item page-item-231"><a href="https://uets.edu.ec/bachillerato-en-ciencias/">Bachillerato en Ciencias</a></li>
                    <li class="page-item page-item-235"><a href="https://uets.edu.ec/bachillerato-tecnico/">Bachillerato Técnico</a></li>
                    <li class="page-item page-item-618"><a href="https://uets.edu.ec/become-a-teacher/">Become a Teacher</a></li>
                    <li class="page-item page-item-616"><a href="https://uets.edu.ec/checkout/">Checkout</a></li>
                    <li class="page-item page-item-114"><a href="https://uets.edu.ec/codigo-de-convivencia-uets-carlos-crespi/">Código de convivencia UETS – Carlos Crespi</a></li>
                    <li class="page-item page-item-110"><a href="https://uets.edu.ec/codigo-de-convivencia-uets-yanuncay/">Código de convivencia UETS – Yanuncay</a></li>
                    <li class="page-item page-item-203"><a href="https://uets.edu.ec/comite-ppff-carlos-crespi/">Comité PPFF – Carlos Crespi</a></li>
                    <li class="page-item page-item-201"><a href="https://uets.edu.ec/comite-ppff-yanuncay/">Comité PPFF – Yanuncay</a></li>
                    <li class="page-item page-item-1964"><a href="https://uets.edu.ec/concurso-de-nacimientos-2020/">Concurso de Nacimientos 2020</a></li>
                    <li class="page-item page-item-1277"><a href="https://uets.edu.ec/concurso-navideno-2020-ppff/">Concurso Navideño 2020</a></li>
                    <li class="page-item page-item-2530"><a href="https://uets.edu.ec/consejo-estudiantil-2022-2023/">Consejo Estudiantil 2022 – 2023</a></li>
                    <li class="page-item page-item-210"><a href="https://uets.edu.ec/consejo-estudiantil-carlos-crespi/">Consejo Estudiantil Carlos Crespi</a></li>
                    <li class="page-item page-item-208"><a href="https://uets.edu.ec/consejo-estudiantil-yanuncay/">Consejo Estudiantil Yanuncay</a></li>
                    <li class="page-item page-item-327"><a href="https://uets.edu.ec/contactenos/">Contáctenos</a></li>
                    <li class="page-item page-item-25"><a href="https://uets.edu.ec/quienes-somos/">Datos informativos</a></li>
                    <li class="page-item page-item-168"><a href="https://uets.edu.ec/educamos-con-el-corazon-de-don-bosco/">Educamos con el corazón de Don Bosco</a></li>
                    <li class="page-item page-item-1652"><a href="https://uets.edu.ec/emails-institucionales/">Emails institucionales</a></li>
                    <li class="page-item page-item-214"><a href="https://uets.edu.ec/exalumnos-carlos-crespi/">Exalumnos Carlos Crespi</a></li>
                    <li class="page-item page-item-212"><a href="https://uets.edu.ec/exalumnos-tecnico-salesiano/">Exalumnos Técnico Salesiano</a></li>
                    <li class="page-item page-item-1309"><a href="https://uets.edu.ec/examenes-quinquemestre-i/">Exámenes Quinquemestre I</a></li>
                    <li class="page-item page-item-2387"><a href="https://uets.edu.ec/expo-tecnico-2022/">Expo Técnico 2022</a></li>
                    <li class="page-item page-item-692"><a href="https://uets.edu.ec/gracias-por-su-visita/">Gracias por su visita…</a></li>
                    <li class="page-item page-item-27"><a href="https://uets.edu.ec/historia/">Historia</a></li>
                    <li class="page-item page-item-2706"><a href="https://uets.edu.ec/home-page/">Home Page</a></li>
                    <li class="page-item page-item-2500"><a href="https://uets.edu.ec/horario-examenes-remediales-2021-2022/">Horario Exámenes Remediales 2021-2022</a></li>
                    <li class="page-item page-item-1156"><a href="https://uets.edu.ec/horarios-carlos-crespi/">Horarios Carlos Crespi</a></li>
                    <li class="page-item page-item-2469"><a href="https://uets.edu.ec/horarios-clases-supletorias-2021-2022/">Horarios Clases Supletorias 2021-2022</a></li>
                    <li class="page-item page-item-2606"><a href="https://uets.edu.ec/horarios-examenes-quimestrales/">Horarios Exámenes I Quimestre 2022 – 2023</a></li>
                    <li class="page-item page-item-1028"><a href="https://uets.edu.ec/horarios-yanuncay/">Horarios Yanuncay</a></li>
                    <li class="page-item page-item-48"><a href="https://uets.edu.ec/ideario-de-la-uets/">Ideario de la UETS</a></li>
                    <li class="page-item page-item-2173"><a href="https://uets.edu.ec/inscripciones-2022-2023/">Inscripciones 2022-2023</a></li>
                    <li class="page-item page-item-1775"><a href="https://uets.edu.ec/instalaciones-campus-carlos-crespi-y-maria-auxiliadora/">Instalaciones Campus Carlos Crespi y María Auxiliadora</a></li>
                    <li class="page-item page-item-352"><a href="https://uets.edu.ec/instalaciones-carlos-crespi/">Instalaciones Carlos Crespi</a></li>
                    <li class="page-item page-item-354"><a href="https://uets.edu.ec/instalaciones-maria-auxiliadora/">Instalaciones María Auxiliadora</a></li>
                    <li class="page-item page-item-350"><a href="https://uets.edu.ec/instalaciones-yanuncay/">Instalaciones Yanuncay</a></li>
                    <li class="page-item page-item-161"><a href="https://uets.edu.ec/inicio/">JURAMENTO A LA BANDERA Y PROCLAMACIÓN DE ABANDERADOS</a></li>
                    <li class="page-item page-item-2509"><a href="https://uets.edu.ec/listas-de-utiles-ano-lectivo-2022-2023/">Listas de Útiles – Año Lectivo 2022 – 2023</a></li>
                    <li class="page-item page-item-2578"><a href="https://uets.edu.ec/los-salesianos-saludan-a-cuenca-2022/">Los Salesianos Saludan a Cuenca 2022</a></li>
                    <li class="page-item page-item-34"><a href="https://uets.edu.ec/mapas-de-ubicacion/">Mapas de ubicación</a></li>
                    <li class="page-item page-item-2326"><a href="https://uets.edu.ec/marcha-de-la-fe-2022/">Marcha de la Fe 2022</a></li>
                    <li class="page-item page-item-694"><a href="https://uets.edu.ec/mis-cursos/">Mis cursos</a></li>
                    <li class="page-item page-item-10"><a href="https://uets.edu.ec/mision-de-la-uets/">Misión de la UETS</a></li>
                    <li class="page-item page-item-974"><a href="https://uets.edu.ec/oferta-academica/">Oferta académica</a></li>
                    <li class="page-item page-item-107"><a href="https://uets.edu.ec/pci-uets-carlos-crespi/">PCI UETS – Carlos Crespi</a></li>
                    <li class="page-item page-item-104"><a href="https://uets.edu.ec/pci-uets-yanuncay/">PCI UETS – Yanuncay</a></li>
                    <li class="page-item page-item-98"><a href="https://uets.edu.ec/pei-uets-carlos-crespi/">PEI UETS – Carlos Crespi</a></li>
                    <li class="page-item page-item-58"><a href="https://uets.edu.ec/pei-uets-campus-yanuncay/">PEI UETS – Yanuncay</a></li>
                    <li class="page-item page-item-617"><a href="https://uets.edu.ec/profile/">Profile</a></li>
                    <li class="page-item page-item-965"><a href="https://uets.edu.ec/prospecto-de-la-uets/">Prospecto de la UETS</a></li>
                    <li class="page-item page-item-32"><a href="https://uets.edu.ec/rendicion-de-cuentas/">Rendición de cuentas</a></li>
                    <li class="page-item page-item-1712"><a href="https://uets.edu.ec/resolucion-de-la-junta-academica/">Resolución de la Junta Académica</a></li>
                    <li class="page-item page-item-2"><a href="https://uets.edu.ec/sample-page/">Sample Page</a></li>
                    <li class="page-item page-item-2631"><a href="https://uets.edu.ec/servicios-educativos/">Servicios Educativos</a></li>
                    <li class="page-item page-item-1165"><a href="https://uets.edu.ec/tutorias-y-atencion-a-ppff-carlos-crespi/">Tutorías y atención a PPFF – Carlos Crespi</a></li>
                    <li class="page-item page-item-2405"><a href="https://uets.edu.ec/vi-festival-atletico-don-bosco-8k/">VI Festival Atlético Don Bosco 8k</a></li>
                    <li class="page-item page-item-15"><a href="https://uets.edu.ec/vision-de-la-uets/">Visión de la UETS</a></li>
                    <li class="page-item page-item-1198"><a href="https://uets.edu.ec/zona-de-descargas/">Zona de descargas</a></li>
                </ul>
            </div>
        </nav><!-- #site-navigation -->
    </div><!-- .edm-container -->
</div>
